<a href="https://colab.research.google.com/github/KIPYEGON2000/KIPYEGON2000/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install laspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting laspy
  Downloading laspy-2.1.2.tar.gz (598 kB)
     |████████████████████████████████| 598 kB 24.2 MB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from laspy) (1.21.6)
Building wheels for collected packages: laspy
  Building wheel for laspy (PEP 517) ... done
  Created wheel for laspy: filename=laspy-2.1.2-py3-none-any.whl size=52819 sha256=e716b9d68c548f57fc1346b675135158e1678904c89e07383c65bdbb3e58a511
  Stored in directory: /root/.cache/pip/wheels/e6/f9/4c/751d63180b7ad21ef3dfa98e249d76e0f95637f15d6268dadb
Successfully built laspy
Installing collected packages: laspy
Successfully installed laspy-2.1.2

In [2]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [3]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [5]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [6]:
import numpy as np
import pandas as pd
import laspy as lp

import matplotlib.pyplot as plt

from shapely import wkt
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from scipy.spatial.distance import pdist
from scipy.spatial.distance import squareform

In [ ]:
point_cloud = lp.read('/content/gdrive/MyDrive/data/drone.las')

In [ ]:
point= np.array((point_cloud.x, point_cloud.y,point_cloud.z,point_cloud.intensity)).transpose()
points_df = pd.DataFrame(point)

In [ ]:
points_df["Latitude"] = point[:,0]
points_df["Longitude"] = point[:,1]
points_df["Altitude"] = point[:,2]
points_df["Intensity"] = point[:,3]

In [ ]:
xyz_dtf = points_df[["Latitude", "Longitude", "Altitude", "Intensity"]]
xyz_dtf.head()

   Latitude  Longitude  Altitude  Intensity
0    80.776    120.159    17.336        0.0
1    30.684     80.698     8.687        0.0
2   105.696     94.684     3.378        0.0
3    90.923    129.287    10.975        0.0
4    88.234     52.786    17.512        0.0

In [ ]:
def convert_to_shape(row):
    return wkt.loads("POINT (" + str(row["Latitude"]) + " " + str(row["Longitude"]) +" " + str(row["Altitude"]) + ")")

In [ ]:
def filtering(points_df):
  
    data = points_df[points_df["Altitude"] <20]
    
    return data

In [ ]:
datas = xyz_dtf.copy()
datas= filtering(datas)

In [ ]:
datas.describe()

           Latitude     Longitude      Altitude   Intensity
count  1.192374e+07  1.192374e+07  1.192374e+07  11923741.0
mean   8.070672e+01  9.764660e+01  4.190358e+00         0.0
std    3.110503e+01  3.052305e+01  1.321322e+00         0.0
min    2.647800e+01  4.146200e+01  1.114000e+00         0.0
25%    5.240700e+01  7.155700e+01  3.142000e+00         0.0
50%    8.190400e+01  9.912100e+01  4.002000e+00         0.0
75%    1.078400e+02  1.255540e+02  5.072000e+00         0.0
max    1.321130e+02  1.485840e+02  6.999000e+00         0.0

In [ ]:
datas['Shape'] = datas.apply(convert_to_shape, axis=1)